ipykernel
requests
llama-index
python-dotenv
html2text
# pip install llama-index-core llama-index-readers-file llama-index-llms-ollama llama-index-embeddings-huggingface
google-generativeai
weaviate-client
langchain
langchain-community
tiktoken
pypdf
rapidocr-onnxruntime
weaviate
langchain-weaviate
# pip install --quiet --upgrade langchain-text-splitters langchain-community langgraph
# pip install -U weaviate-client
# ip install -Uqq langchain-weaviate
llama-index-llms-huggingface
llama-index-embeddings-huggingface
llama-index-embeddings-instructor
haystac-ai
datasets>=2.6.1
sentence-transformers>=3.0.0
# pip install llama-index-llms-gemini llama-index google-generativeai
google-ai-haystack